<div class="ui two column grid">
  
<div class="four wide column">
  <div class="ui fluid raised card chatbox">
    <div class="content">
      <div class="ui vertical menu">
        <%= link_to search_friends_path, class: "item" do %>
          <i class="search icon"></i> Search Users
        <% end %>
      </div>
      
      <div class="ui hidden divider"></div>

      <div class="ui middle aligned divided list">
        
        <% @conversations.each do |conversation| %>
          <% other_user = (conversation.sender == current_user) ? conversation.recipient : conversation.sender %>
          
          <%= link_to conversation_path(conversation), class: "item", data: { turbo_frame: "chat_window" } do %>

            <i class="large user circle icon"></i>
            
            <div class="content" style="padding-left: 10px;">
              <div class="header"><%= other_user.username %></div>
            </div>
          <% end %>
        <% end %>

        <% @friends.each do |friend| %>
          <% unless @conversations.any? { |c| c.sender == friend || c.recipient == friend } %>
            
            <%= link_to conversations_path(friend_id: friend.id), method: :post, class: "item", data: { turbo_frame: "chat_window" } do %>
              <i class="large add circle icon"></i> <%# "New Chat" icon %>
              <div class="content" style="padding-left: 10px;">
                <div class="header"><%= friend.username %></div>
              </div>
            <% end %>
            
          <% end %>
        <% end %>
        
      </div> </div>
  </div>
</div>

  <div class="twelve wide column">
    
    <turbo-frame-tag id="chat_window">
      
    <div class="ui fluid raised card chatbox" style="height: 100%;">
      <div class="content" style="height: 100%;">
        
        <div class="ui placeholder segment" style="height: 100%;">
          <div class="ui icon header">
            <i class="comments outline icon"></i>
            Your conversations will appear here.
          </div>
          <div class="inline">
            <div class="ui large button">
              Select a friend or active chat from the list to begin.
            </div>
          </div>
        </div>

      </div>
    </div>
    </turbo-frame-tag>
  </div>
</div>