<h4 class="ui icon medium header">
  <i class="circular inverted comments outline icon"></i>
  <div class="content">
   Welcome <span style="color: #2185d0; font-weight: bold;"><%= current_user.username %></span>!
    <div class="sub header"></div>
  </div>
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%= render @messages%>
        </div>
      </div>
      <div class="extra content">
        <from class="ui reply from">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted black edit icon"></i>
            </div>
          </div>
        </from>
      </div>
    </div>
  </div>


  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a class="active item">
            <%= link_to "Search Users", search_friends_path, class: "active item" %>
            <%= link_to my_friends_path, class: "item" do %>
              Friends
              <% if current_user.friend_requests.any? %>
                <div class="ui mini red circular label">
                  <%= current_user.friend_requests.count %>
                </div>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>